<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="auto" uiCulture="auto" />
	</system.web>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".mrt" />
			<mimeMap fileExtension=".mrt" mimeType="application/json" />
		</staticContent>
	</system.webServer>
</configuration>
